Senior Project/UserSettings/Layouts/default-2021.dwlt
*.dwlt
Senior Project/Assets/Editor/VisualStudioProjectGenerationPostProcess.cs.meta
Senior Project/Assets/Editor/VisualStudioProjectGenerationPostProcess.cs
Senior Project/Assets/Editor/VisualStudioProjectGenerationPostProcess.cs.meta
Senior Project/Assets/Editor/VisualStudioProjectGenerationPostProcess.cs.meta
Senior Project/Assets/Editor/VisualStudioProjectGenerationPostProcess.cs.meta
Senior Project/Assets/Editor/VisualStudioProjectGenerationPostProcess.cs.meta
